.portableText p + p,
.portableText p + ul,
.portableText p + ol,
.portableText p + h2,
.portableText p + h3,
.portableText p + h4 {
  margin-top: 0.75em;
}

.portableText ul + p,
.portableText ul + ul,
.portableText ul + ol,
.portableText ol + p,
.portableText ol + ul,
.portableText ol + ol {
  margin-top: 1em;
}

.portableText ul,
.portableText ol {
  @apply pl-8;
}

.portableText li {
  @apply pl-2 mt-2;
}

.portableText ul {
  list-style: disc;
}

.portableText ol {
  list-style: decimal;
}
