:root {
  --color-primary: theme('colors.gray.900');
  --color-secondary: theme('colors.teal.700');
  --color-background: theme('colors.gray.100');
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-primary: theme('colors.gray.100');
    --color-secondary: theme('colors.orange.500');
    --color-background: theme('colors.gray.900');
  }
} */

/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */
@tailwind components;
@tailwind utilities;

body {
  background: var(--color-background, #000);
  color: var(--color-primary, #fff);
  margin: 0;
}

a,
button,
input,
label,
video,
canvas {
  -webkit-tap-highlight-color: transparent;
}
