/* purgecss start ignore */
.commento-root {
  padding-top: 32px;
}

.commento-root .commento-textarea-container {
  width: 100%;
}

.commento-root .commento-markdown-button {
  display: inline-block;
}

@media screen and (max-width: 840px) {
  .commento-root .commento-logged-container .commento-logged-in-as {
    display: inline-block;
    width: 100%;
  }
}
/* purgecss end ignore */
