.portable-text-blocks {
  @apply leading-relaxed text-base font-thin;
}

.portable-text-blocks h2 {
  @apply text-2xl font-bold mt-6;
}

.portable-text-blocks h3 {
  @apply text-xl font-bold mt-4;
}

.portable-text-blocks h4 {
  @apply font-bold mt-2;
}

@screen lg {
  .portable-text-blocks {
    @apply text-lg;
  }

  .portable-text-blocks h2 {
    @apply text-3xl font-bold;
  }
  .portable-text-blocks h3 {
    @apply text-2xl font-bold;
  }
}

.portable-text-blocks p + p,
.portable-text-blocks p + ul,
.portable-text-blocks p + ol,
.portable-text-blocks p + h2,
.portable-text-blocks p + h3,
.portable-text-blocks p + h4 {
  margin-top: 0.75em;
}

.portable-text-blocks ul + p,
.portable-text-blocks ul + ul,
.portable-text-blocks ul + ol,
.portable-text-blocks ol + p,
.portable-text-blocks ol + ul,
.portable-text-blocks ol + ol {
  margin-top: 1em;
}

.portable-text-blocks a {
  @apply border-b border-dashed border-primary outline-none;
}

.portable-text-blocks a:focus {
  @apply border-solid;
}

.portable-text-blocks ul,
.portable-text-blocks ol {
  @apply pl-8;
}

.portable-text-blocks li {
  @apply pl-2 mt-2;
}

.portable-text-blocks ul li {
  list-style: disc;
}

.portable-text-blocks ol li {
  list-style: decimal;
}
