.submitButton {
  @apply relative;
}

.submitButton:disabled {
  @apply cursor-not-allowed;
}

.submitButton::after {
  @apply absolute w-full h-full top-0 left-0 opacity-0;

  background: inherit;
  content: '';
}

.submitButton:disabled::after {
  @apply opacity-75;

  transition: opacity .2s ease-out;
}
